<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%level] %logger: %msg%n"/>
      <Filters>
        <RegexFilter regex=".*zachshax.*" onMatch="ACCEPT" onMismatch="DENY"/>
      </Filters>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="zachshax" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
